{

}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: lightskyblue;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: auto;
    
}

header {
    color: lightslategray;
    background-color: linen;
}
tr {
    text-align: center;
} 
